fastapi==0.115.0
uvicorn==0.30.0
pydantic==2.8.0
pydantic-settings==2.4.0
pydantic[email]==2.8.0
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlmodel==0.0.21
sqlalchemy==2.0.36
